/** @format */
.greeting_space {
  width: 100%;
  height: 150px;
}

.greeting {
  background-color: #20a54f; /* Fallback for browsers that don't support animations */
  background: linear-gradient(135deg, #20a54f, #0df35d, #0c3e1b);
  background-size: 200% 200%; /* Make the gradient larger than the element for animation */
  animation: colorChange 10s ease infinite; /* Animation for smooth color transition */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #092212;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #65ff9b;
  transition: 0.3s ease; /* Smooth hover transition */
}

.text {
  font-size: 16px;
  color: white;
}
/*hello */

.greeting_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 550px) {
  .greeting {
    background: linear-gradient(135deg, #20a54f, #65ff9b, #0c3e1b);
    background-size: 200% 200%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #092212;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .text {
    font-size: 16px;
    color: white;
  }
  .greeting_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .greeting {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #092212;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text {
    font-size: 19px;
  }

  .greeting_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .greeting {
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .greeting_cont {
    font-size: 8px;
  }
}

/* Pop-in animation */
@keyframes popin {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.popinG {
  animation: popin 0.5s ease-in-out;
}

/* Color-changing gradient animation */
@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
