.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px 10px;
    background-color: #243040;
    box-shadow: 1px 1px 5px #0f141a ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2f3b4b ;
    z-index: 1000;
    .search_bar{
        background-color: #2f3b4b;
        padding-right: 5px;
        display: flex;
        border-radius: 30px;
        width:100%;
        max-width: 500px;
        align-items: center;
        padding: 0px 5px;
        .seach_icon{
           height: 20px;
           display: flex;
           align-items: center;
           justify-content: center;
        }
        img{
            height: 10px;
        }
        
        
    }
    
    input{
        border-radius: 15px 0px 0px 15px;
        border: none;
        padding: 1px;
        padding-left: 10px;
        outline: none;
        background: transparent;
        color: white;
        height: 40px;
        font-size: 20px;
        width: 100%;
    }
    
    img{
        height: 30px;
    }
    
}
.logo{
    width:200px;
    border-width: 20%;
    img{
        height: 30px;
    }

}
.moreBtn{
    transform: rotate(180deg);
}
.side_icon{
    display: flex;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
    button{
        border: none;
        padding: 3px 10px;
        border-radius: 40px;
        background: #2f3b4b;
        cursor: pointer;
        transition: 0.3s;
        img{
            height: 25px;
            

        }

    }
    .creat{
        background: none;
    }
}
.more{
    
    transition: 0.2s;
}
@media (min-width:950px) {
    .side_icon{
        display: flex;
        gap: 10px;
        padding: 0 10px;
        button{
            border: none;
            padding: 3px 10px;
            border-radius: 40px;
            background: #2f3b4b;
            img{
                height: 30px;
            }
    
        }
    }
}
@media (min-width:1120px) {
    .side_icon{
        display: flex;
        gap: 15px;
        padding: 0 10px;
        width: 200px;
        justify-content: space-between;
        button{
            border: none;
            padding: 3px 10px;
            border-radius: 40px;
            background: #2f3b4b;
            img{
                height: 30px;
                
            }
    
        }
    }
}
@media (max-width:450px) {
    .logo{
        display: none;
    }
}
@media (max-width:400px) {
    .side_icon{
        display: flex;
        gap: 2px;
        padding: 0 5px;
        button{
            border: none;
            padding: 2px 9px;
            border-radius: 40px;
            background: #2f3b4b;
            img{
                height: 20px;
                
                
            }
    
        }
    }
    .logo{
        width:90px;
        padding-right: 10px;
        display: none;
        img{
            height: 25px;
    
    }
}

}
.sidebar{
    z-index: 1001;
    transition: 0.5s;
    background-color:#262f3b ;
    position: absolute;
    padding: 1px;
    top: 95%;
    right: 1px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    li{
        list-style: none;
        display:flex;
        align-items: center;
        gap:5px;
        padding: 2px;
        padding: 5px;
        cursor: pointer;
    }
    
}
