/** @format */

.container {
  padding: 80px 10px;
}
.header_ {
  display: flex;
  position: fixed;
  background-color: #1e263379;
  backdrop-filter: blur(1px);
  align-items: center;
  height: 50px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
}
.container_ {
  padding: 55px 10px;
}
.contact_jobD_btn {
  padding: 10px 10px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
  color: white;
  background: #20a54f;
  transition: 0.3s;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}

.detail_box {
  display: flex;
  gap: 10px;
}
.import_information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.thumnail_detail {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
  img {
    z-index: 0;
  }
}

.other_information {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title_price {
  box-shadow: 1px 1px 5px #0f131a;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 5px;
  h2 {
    font-size: 18px;
  }
  h5 {
    color: #ffffff94;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .detail_box {
    flex-direction: column;
    gap: 15px;
  }

  .thumnail_detail {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    &&:active {
      height: 100%;
    }
  }

  .other_information {
    height: 500px;
  }
  .title_price {
    h5 {
      font-size: 14px;
    }
    h2 {
      font-size: 16px;
    }
  }
}
.fullview {
  animation: 0.3s pp forwards;
 
}
.thumbnail_detail_fullview {
  transition: 0.3s;
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 10px;
  
}
@keyframes pp {
  100% {
    z-index: 500;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050608a2;
  }
}
