/** @format */

.top_footer {
  flex: 1;
  background-color: #1a2027;
  color: rgba(255, 255, 255, 0.418);
  padding: 10px 1px;
  font-size:20px;
  padding: 20px 10px;
  gap: 30px;
  height: 50vh;
  h1{
    margin-bottom:50px;
  }
}
.content{
 
  display:flex;
  gap:10%;
  a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
    color: rgba(255, 255, 255, 0.418);
  }
}

@media (max-width:800px) {
  .content{
    flex-direction: column;
    gap:10px;
  }
  .top_footer {
   
    flex: 1;
    background-color: #1a2027;
    color: rgba(255, 255, 255, 0.418);
    padding: 10px 1px;
    font-size:20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    height:100%;
    
  }
   h1{
      font-size: 30px;
    }
}